.DS_Store
data/*
outputs/*
api_key.sh
*.env
config.py
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.pytest_cache/*
*/.coverage
*/.pytest_cache
*/.ipynb_checkpoints
firebase_key.json
perturbations/prompts/__pycache__/*.pyc